<html>
<head>
	<meta charset="utf-8"> 
	<title>基本表单</title>
	<script type="text/javascript" src="__PUBLIC__js/jquery.min.js"></script>
<body>

<form method="post">
姓名：<input type="text" name="name" id="name" value=""><br> 
<!-- <input type="file" name="image" /> <br>  -->
<!-- <input type="submit" name="提交"> -->
<button type="button" class="userid">提交</button>
<input type="reset" style="display:none;" /> 
</form> 
	
</body>
</html>

<script type="text/javascript">
$(function(){	
	$(".userid").on("click",function(){
		var str = $("input[name='name']").val();
		$.ajax({
			type:"POST",
			url:"{:url('Index/user')}",
			data: "name="+str,  
   //  		dataType: "json",
			// traditional: true,
			success:function(resp){
				alert("提交成功");
			}
		});
		$("input[type=reset]").trigger("click");
	});
	
})
</script>